@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}
.flex-16{
    flex: 0 1 16%;
}
.flex-80{
    flex: 0 1 80%;
}
.flex-24{
    flex:0 1 24%;
}